<%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
    </body>
    <div class="contato" id="contato">
        <h1>contato</h1>
    </div>
    <%- include('partials/footer.ejs') %>