<%- include('../partials/head.ejs') %>

    <body>
        <div class="principal configD">
            <%- include('../partials/navbar.ejs') %>
                <br>
                <div class="container">
                    <div class="categoria">
                        <h1>Jujutsukaizen</h1>
                    </div>

                    <div class="text-center">
                        <video width="100%" heigth="100%" controls>
                            <source src="aki é onde eu coloco o filme
                            
                            
                            
                            .mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <br>
                <%- include('../partials/footer-1.ejs') %>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>
