<%- include('../partials/head.ejs') %>

    <body>
        <div class="principal configD">
            <div class="wrapper">
                <%- include('../partials/navbar.ejs') %>
                    <!--aki comeca o grupo dos card-->
                    <div class="container">
                        <div class="categoria">
                            <h1>Filmes</h1>
                            <!-- grupo dos card filmes-->
                            <div class="row row-cols-1 row-cols-md-6 g-4">
                                <!-- 1 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 2 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 3 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 4 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 5 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 6 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 7 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 8 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 9 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 10 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 11 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 12 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>
                            <!-- fim grupo dos card filmes-->
                        </div>
                        <!--aki termina o grupo dos card-->
                        <%- include('../partials/footer-1.ejs') %>
                    </div>
                    <!--linha do include nao é fechada-->
            </div>
    </body>
    <%- include('../partials/footer.ejs') %>