<%- include('../partials/head.ejs') %>

    <body>
        <div class="principal configD">
            <div class="wrapper">
                <%- include('../partials/navbar.ejs') %>
                    <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/Frame1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/Frame2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/Frame3.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <!--aki comeca o grupo dos card-->
                    <div class="container">

                        <div class="categoria">
                            <h1>Filmes</h1>
                            <!-- grupo dos card filmes-->
                            <div class="row row-cols-1 row-cols-md-6 g-4">
                                <!-- 1 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.PNG" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 2 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.PNG" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 3 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.PNG" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 4 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.PNG" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 5 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.PNG" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 6 card filmes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-filme.PNG" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>
                            <a href="/filmes">
                                <p>Veja mais</p>
                            </a>
                            <!-- fim grupo dos card filmes-->
                        </div>

                        <div class="categoria">
                            <h1>Series</h1>
                            <!-- grupo dos card series-->
                            <div class="row row-cols-1 row-cols-md-6 g-4">
                                <!-- 1 card series-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-serie.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 2 card series-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-serie.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 3 card series-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-serie.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 4 card series-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-serie.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 5 card series-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-serie.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 6 card series-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-serie.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>
                                <a href="/series">
                                    <p>Veja mais</p>
                                </a>
                            <!-- fim grupo dos card series-->
                        </div>

                        <div class="categoria">
                            <h1>Animes</h1>
                            <!-- grupo dos card animes-->
                            <div class="row row-cols-1 row-cols-md-6 g-4">
                                <!-- 1 card animes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <a href="/jujutsukaizen"><img src="img/card-anime.png" class="card-img-top" alt="..."></a>
                                    </div>
                                </div>
                                <!-- 2 card animes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-anime.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 3 card animes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-anime.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 4 card animes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-anime.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 5 card animes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-anime.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <!-- 6 card animes-->
                                <div class="col">
                                    <div class="card h-100 efeito efeitoCont">
                                        <img src="img/card-anime.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>
                                <a href="/animes">
                                    <p>Veja mais</p>
                                </a>
                            <!-- fim grupo dos card animes-->
                        </div>

                    </div>
                    <!--aki termina o grupo dos card-->
                    <!--linha do include nao é fechada-->
                    <%- include('../partials/footer-1.ejs') %>
            </div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>